<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body class="main-layout">
    <!-- Tabs -->
    <%- include('partials/admin-tabs.ejs') %>
    <!-- End tabs -->

    <div class="p-5">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column" style="width: 20%">
          <div class="mb-2" style="font-weight: 600">Enter first name or last name</div>
          <div class="input-group">
            <input id="search-input" type="text" class="form-control" placeholder="Search..." value="<%= search %>" />
          </div>
        </div>

        <div class="d-flex flex-column" style="width: 20%; margin-left: 1em">
          <div class="mb-2" style="font-weight: 600">Enter school year enrolled</div>
          <div class="input-group">
            <% const currentYear = new Date().getFullYear() %>
            <select id="school-year-search-select" class="form-control">
              <% for (let i = currentYear + 4; i >= currentYear; i--) { %>
              <option value='<%= i - 1 + "-" + i %>'><%= i - 1 + " - " + i %></option>
              <% } %>
              <!--  -->
              <% for (let i = currentYear - 1; i >= currentYear - 4; i--) { %>
              <option value='<%= i - 1 + "-" + i %>'><%= i - 1 + " - " + i %></option>
              <% } %>
            </select>
          </div>
        </div>

        <button
          id="search-form-button"
          class="btn btn-primary"
          style="margin-left: 1em; height: 40px; align-self: end; padding-left: 1.5em; padding-right: 1.5em"
        >
          Search
          <i class="fa fa-search" style="margin-left: 0.5em"></i>
        </button>
      </div>

      <!-- Main Form -->
      <% if (student && forms.length === 0) { %>
      <div
        id="no-form-badge"
        class="bg-warning mt-4 rounded p-2 text-secondary"
        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between"
      >
        <span></span>
        <span style="font-size: 1.15em">No record found! Please update the form</span>
        <i
          class="fa fa-times-circle"
          style="font-size: 1.5em; cursor: pointer"
          onclick="document.getElementById('no-form-badge').style.display='none';"
        ></i>
      </div>
      <% } %>

      <!--  -->

      <% if (!student) { %>
      <div
        id="no-student-badge"
        class="bg-warning mt-4 rounded p-2 text-secondary"
        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between"
      >
        <span></span>
        <span style="font-size: 1.15em">No student found on that specific school year!</span>
        <i
          class="fa fa-times-circle"
          style="font-size: 1.5em; cursor: pointer"
          onclick="document.getElementById('no-student-badge').style.display='none';"
        ></i>
      </div>
      <% } %>

      <div class="row gx-3 mt-5">
        <div class="col-lg-4">
          <div class="p-3 shadow h-100 border border-1" style="border-radius: 10px">
            <span class="text-primary d-block mb-3" style="font-size: 16px; font-weight: 600">Student Information</span>

            <div class="mb-3">
              <span class="d-block" style="font-weight: 600">Student ID:</span>
              <span id="form-name"><%= student?.studentId || "" %></span>
            </div>

            <div class="mb-3">
              <span class="d-block" style="font-weight: 600">Name:</span>
              <span id="form-name">
                <%= student?.firstname && student?.middleInitial && student?.lastname ? student.firstname + " " +
                student.middleInitial + " " + student.lastname: "" %>
              </span>
            </div>

            <div class="mb-3">
              <span class="d-block mb-2" style="font-weight: 600">Age:</span>
              <span id="form-name"><%= student?.age || "" %></span>
            </div>

            <div class="mb-3">
              <span class="d-block mb-2" style="font-weight: 600">Date of Birth:</span>
              <span id="form-name"><%= student?.bday || "" %></span>
            </div>

            <div class="mb-3">
              <span class="d-block mb-2" style="font-weight: 600">Gender:</span>
              <span id="form-name"><%= student?.gender.toUpperCase() || "" %></span>
            </div>

            <div class="mb-3">
              <span class="d-block mb-2" style="font-weight: 600">Grade and Section:</span>
              <span id="form-name">
                <%= student?.grade && student?.section ? "Grade: " + student?.grade + ' - ' + student?.section : '' %>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="p-3 shadow border border-1" style="border-radius: 10px">
            <span class="text-primary d-block mb-3" style="font-size: 16px; font-weight: 600">
              Report Card / Form 137
            </span>

            <table class="table table-bordered">
              <tr>
                <th>Subject</th>
                <th>1st Qtr</th>
                <th>2nd Qtr</th>
                <th>3rd Qtr</th>
                <th>4th Qtr</th>
                <th>Remarks</th>
              </tr>
              <tr>
                <td>English</td>
                <td>
                  <span id="eng-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="eng-1q-grade"></i>
                </td>
                <td>
                  <span id="eng-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="eng-2q-grade"></i>
                </td>
                <td>
                  <span id="eng-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="eng-3q-grade"></i>
                </td>
                <td>
                  <span id="eng-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="eng-4q-grade"></i>
                </td>
                <td id="remarks-badge-eng"></td>
              </tr>
              <tr>
                <td>Mathematics</td>
                <td>
                  <span id="math-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="math-1q-grade"></i>
                </td>
                <td>
                  <span id="math-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="math-2q-grade"></i>
                </td>
                <td>
                  <span id="math-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="math-3q-grade"></i>
                </td>
                <td>
                  <span id="math-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="math-4q-grade"></i>
                </td>
                <td id="remarks-badge-math"></td>
              </tr>
              <tr>
                <td>Filipino</td>
                <td>
                  <span id="fil-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="fil-1q-grade"></i>
                </td>
                <td>
                  <span id="fil-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="fil-2q-grade"></i>
                </td>
                <td>
                  <span id="fil-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="fil-3q-grade"></i>
                </td>
                <td>
                  <span id="fil-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="fil-4q-grade"></i>
                </td>
                <td id="remarks-badge-fil"></td>
              </tr>
              <tr>
                <td>Science</td>
                <td>
                  <span id="sci-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="sci-1q-grade"></i>
                </td>
                <td>
                  <span id="sci-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="sci-2q-grade"></i>
                </td>
                <td>
                  <span id="sci-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="sci-3q-grade"></i>
                </td>
                <td>
                  <span id="sci-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="sci-4q-grade"></i>
                </td>
                <td id="remarks-badge-sci"></td>
              </tr>
              <tr>
                <td>Araling Panlipunan (AP)</td>
                <td>
                  <span id="ap-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="ap-1q-grade"></i>
                </td>
                <td>
                  <span id="ap-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="ap-2q-grade"></i>
                </td>
                <td>
                  <span id="ap-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="ap-3q-grade"></i>
                </td>
                <td>
                  <span id="ap-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="ap-4q-grade"></i>
                </td>
                <td id="remarks-badge-ap"></td>
              </tr>
              <tr>
                <td>Edukasyong Pangkabuhayan at Pangtahanan (EPP)</td>
                <td>
                  <span id="epp-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="epp-1q-grade"></i>
                </td>
                <td>
                  <span id="epp-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="epp-2q-grade"></i>
                </td>
                <td>
                  <span id="epp-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="epp-3q-grade"></i>
                </td>
                <td>
                  <span id="epp-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="epp-4q-grade"></i>
                </td>
                <td id="remarks-badge-epp"></td>
              </tr>
              <tr>
                <td>Music, Arts, Physical Education, and Health (MAPEH)</td>
                <td>
                  <span id="mapeh-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="mapeh-1q-grade"></i>
                </td>
                <td>
                  <span id="mapeh-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="mapeh-2q-grade"></i>
                </td>
                <td>
                  <span id="mapeh-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="mapeh-3q-grade"></i>
                </td>
                <td>
                  <span id="mapeh-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="mapeh-4q-grade"></i>
                </td>
                <td id="remarks-badge-mapeh"></td>
              </tr>
              <tr>
                <td>Edukasyon sa Pagpapakatao (ESP)</td>
                <td>
                  <span id="esp-1q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="esp-1q-grade"></i>
                </td>
                <td>
                  <span id="esp-2q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="esp-2q-grade"></i>
                </td>
                <td>
                  <span id="esp-3q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="esp-3q-grade"></i>
                </td>
                <td>
                  <span id="esp-4q-grade"></span>
                  <i class="fa fa-edit text-primary update-grade-button" data-target-id="esp-4q-grade"></i>
                </td>
                <td id="remarks-badge-esp"></td>
              </tr>
              <tr>
                <td colspan="4"><b>General Average</b></td>
                <td colspan="2" style="text-align: right">
                  <span id="general-average" style="font-weight: 600"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="mt-5 d-flex justify-content-end">
        <button id="update-form-btn" class="btn btn-primary">
          <i class="fa fa-save" style="margin-right: 0.5em"></i>Update form
        </button>
      </div>
    </div>

    <!-- Update grade modal -->
    <div
      class="modal fade"
      id="update-grade-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="update-grade-modal"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"><b>Update Grade</b></div>
          <div class="modal-body">
            <span class="d-block">Name:&nbsp;<span id="update-grade-modal-name"></span></span>
            <span class="d-block">Subject:&nbsp;<span id="update-grade-modal-subject"></span></span>
            <span class="d-block">Quarter:&nbsp;<span id="update-grade-modal-quarter"></span></span>
            <span class="d-block mb-3">School Year:&nbsp;<span id="update-grade-modal-sy"></span></span>
            <div class="form-group">
              <input id="enter-grade-input" type="number" class="form-control" placeholder="Enter grade..." />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="update-confirm-grade-btn" type="button" class="btn btn-primary">Update Grade</button>
          </div>
        </div>
      </div>
    </div>
    <style>
      .nice-select {
        display: none;
      }

      .update-grade-button {
        margin-left: 1em;
        cursor: pointer;
      }
    </style>

    <%- include('partials/scripts.ejs') %>
    <script src="<%= domainName %>/js/admin.js"></script>
    <script>
      var path = '<%= path %>';
      var student = JSON.parse('<%- JSON.stringify(student) %>');
      var forms = JSON.parse('<%- JSON.stringify(forms) %>');
      var schoolYear = '<%= schoolYear %>';
    </script>
  </body>
</html>
