<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <!-- Body -->
  <body class="main-layout">
    <!-- Loader  -->
    <%- include('partials/loader.ejs') %>
    <!-- End loader  -->

    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!-- End header -->

    <section class="slider_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid padding_dd">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="text-bg">
                      <h1>Enrolment Starts Now!</h1>
                      <p>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</p>
                      <a href="#">Read more</a> <a href="#">get a qoute</a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="images_box">
                      <figure><img src="<%= domainName %>/images/img2.png" /></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid padding_dd">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="text-bg">
                      <h1>Enrolment Starts Now!</h1>
                      <p>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</p>
                      <a href="#">Read more</a><a href="#">get a qoute</a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="images_box">
                      <figure><img src="<%= domainName %>/images/img2.png" /></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid padding_dd">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <div class="text-bg">
                      <h1>Enrolment Starts Now!</h1>
                      <p>TOP NOTCH COURSES FROM TRAINED PROFESSIONALS</p>
                      <a href="#">Read more</a> <a href="#">get a qoute</a>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="images_box">
                      <figure><img src="<%= domainName %>/images/img2.png" /></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- About  -->
    <div id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about-box">
              <h2>About <strong class="yellow">Us</strong></h2>
              <p>
                There was a place in Bacnotan where deers were abundant. They were known for their impressive horns that
                people started calling the area “sara ti ugsa ” which means horns of the deer” With the passage of time,
                “sara ti ugsa “ became Zaragosa; a name it carries up to this time. Zaragosa is a rural district located
                at the southern part of the Municipality of Bacnotan, La Union. At the north-western part of the
                barangay lies the Zaragosa-Bussaoit Water Basin. It was a dam built in 1980 during the administration of
                the late President Ferdinand E. Marcos
              </p>
              <a href="/about">Read more</a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about-box">
              <figure><img src="<%= domainName %>/images/about.jpg" alt="#" /></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About -->

    <!-- Our -->
    <div id="important" class="important">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>Some <strong class="yellow">Important Facts</strong></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="important_bg">
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <div class="important_box">
                <h3>20+</h3>
                <span>Teachers</span>
              </div>
            </div>
            <div class="col col-xs-12">
              <div class="important_box">
                <h3>100+</h3>
                <span>Pupils</span>
              </div>
            </div>
            <div class="col col-xs-12">
              <div class="important_box">
                <h3>10+</h3>
                <span>Rooms</span>
              </div>
            </div>
            <div class="col col-xs-12">
              <div class="important_box">
                <h3>300+</h3>
                <span>Graduates</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End our -->

    <!-- Courses -->
    <div id="history" class="Courses">
      <div class="container-fluid padding_left3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="box_bg">
              <div class="box_bg_img">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="box_my">
                      <figure><img src="<%= domainName %>/images/my1.jpg" height="190" /></figure>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="box_my">
                      <figure><img src="<%= domainName %>/images/my2.png" height="190" /></figure>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="box_my">
                      <figure><img src="<%= domainName %>/images/my3.jpg" height="190" /></figure>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="box_my">
                      <figure><img src="<%= domainName %>/images/my4.png" height="190" /></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 border_right">
            <div class="box_text">
              <div class="titlepage">
                <h2>Our<strong class="yellow">&nbsp;History</strong></h2>
              </div>
              <p>
                The school was established in 1930 , before the World War II. There were only Grade I and 2. It was
                located in the house of Amilo Almojera. Due to the increased of enrolment, additional 2 classes were
                added. The school was subsequently moved to its present location . In 1943 the school was closed due to
                the war. The Japanese used the school as a garrison or military post. Prisoners and suspected enemies
                where incarcerated. They were tortured and brutally killed. It was believed that many were buried there.
                When the war was over, the school was opened with six(6) classes, making it a complete elementary
                school. Buildings were erected to replace the temporary school rooms. Through the years improvement were
                done. Enrolment increased and additional teachers were assigned.
              </p>
              <a href="/history" style="float: right">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Courses -->

    <!-- learn -->
    <div id="gallery" class="learn">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>Check <strong class="yellow">Our Gallery</strong></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="learn_box">
              <img src="<%= domainName %>/images/gallery1.png" alt="" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="learn_box">
              <img src="<%= domainName %>/images/gallery2.jpg" alt="" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="learn_box">
              <img src="<%= domainName %>/images/gallery3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End learn -->

    <!-- Contact -->
    <div id="contact" class="contact">
      <div class="container-fluid padding_left2">
        <div class="white_color">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div id="map"></div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <form class="contact_bg">
                <div class="row">
                  <div class="col-md-12">
                    <div class="titlepage">
                      <h2>Contact <strong class="yellow">Us</strong></h2>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Name" type="text" name="Your Name" />
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Email" type="text" name="Your Email" />
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone" />
                  </div>
                  <div class="col-md-12">
                    <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <button class="send">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End contact -->

    <!--  Footer -->
    <%- include('partials/footer.ejs') %>
    <!-- End footer -->

    <!-- Javascript files -->
    <%- include('partials/scripts.ejs') %>

    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {
            lat: 16.7064156,
            lng: 120.3662283,
          },
        });
        var image = 'images/maps-and-flags.png';
        var beachMarker = new google.maps.Marker({
          position: {
            lat: 16.7064156,
            lng: 120.3662283,
          },
          map: map,
          icon: image,
        });
      }
    </script>
    <!-- Google map js -->
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUXpmyNdfmy3dGxbFKdX06S9tH0KYde9I&callback=initMap"
    ></script>
    <!-- End google map js -->
    <!-- End of Javascript files -->
  </body>
</html>
