<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body class="main-layout">
    <!-- Tabs -->
    <%- include('partials/admin-tabs.ejs') %>
    <!-- End tabs -->

    <div class="p-5">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
          <!-- Todo: Filter -->
        </div>

        <button
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#flipFlop"
          onclick="window.location.href = '/admin/enrolment';"
        >
          <i class="fa fa-user" style="margin-right: 0.5em"></i>
          Enroll Student
        </button>
      </div>

      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Grade & Section</th>
            <th scope="col">Birthday</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="students-table"></tbody>
      </table>
    </div>

    <!-- The modal -->
    <div
      class="modal fade"
      id="view-student-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="viewStudentModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <span
              class="d-block"
              style="
                border-bottom: 1px solid lightgray;
                padding-bottom: 1em;
                margin-bottom: 1em;
                font-size: 1em;
                font-weight: 700;
              "
            >
              Students Information
            </span>
            <span class="d-block">Name:&nbsp;<span id="modal-student-name"></span></span>
            <span class="d-block">Grade and Section:&nbsp;<span id="modal-student-grade-section"></span></span>
            <span class="d-block">Birthday:&nbsp;<span id="modal-student-bday"></span></span>
            <span class="d-block">Age:&nbsp;<span id="modal-student-age"></span></span>
            <span class="d-block">Gender:&nbsp;<span id="modal-student-gender"></span></span>
            <span class="d-block">School Year Enrolled:&nbsp;<span id="modal-student-sy"></span></span>
            <span
              class="d-block"
              style="
                border-bottom: 1px solid lightgray;
                padding-bottom: 1em;
                margin-bottom: 1em;
                font-size: 1em;
                font-weight: 700;
                margin-top: 1.5em;
              "
            >
              Requirements
            </span>
            <div id="modal-requirements-container"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/scripts.ejs') %>
    <script src="<%= domainName %>/js/admin.js"></script>
    <script>
      var path = '<%= path %>';
    </script>
  </body>
</html>
